apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-deployment
  namespace: stream-recorder
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trino
  template:
    metadata:
      labels:
        app: trino
    spec:
      containers:
        - name: trino
          image: trinodb/trino:389
          resources:
            requests:
              memory: "256Mi"
              cpu: "0.25"
            limits:
              memory: "512Mi"
              cpu: "0.5"
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /etc/trino/catalog
              name: trino-config
      volumes:
        - name: trino-config
          configMap:
            name: {{ .Chart.Name }}-cm