apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: Always
          envFrom:
          - configMapRef:
              name: {{ .Chart.Name }}-config
          ports:
            - containerPort: {{ .Values.service.port }}
          resources:
            requests:
              cpu: "0.1"
              memory: "128Mi"
            limits:
              cpu: "0.25"
              memory: "512Mi"
          volumeMounts:
            - name: recordings
              mountPath: /mnt/recordings
          env:
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-secret
                  key: SPRING_DATASOURCE_USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-secret
                  key: SPRING_DATASOURCE_PASSWORD
          envFrom:
          - configMapRef:
              name: {{ .Chart.Name }}-cm
      volumes:
        - name: recordings
          hostPath:
            path: /mnt/d/WSL/Recordings   # local disk folder on WSL
            type: DirectoryOrCreate